{% extends 'base_logged_in.html' %}

{% block content %}
    <table class="table">
        <thead>
            <th>Vizsgázik kódja</th>
            <th>Vizsga kódja</th>
            <th>Kurzus neve</th>
            <th>Hallgató azonosítója</th>
            <th>Időpont</th>
            <th>Kapott jegy</th>
            <th>Vizsga alkalmak száma</th>
        </thead>
        <tbody>
            {% for instance in object_list %}
            <tr>
                <td><a href="{{ instance.get_absolute_url }}">{{ instance.id }}</a></td>
                <td><a href="{{ instance.vizsgaID.get_absolute_url }}">{{ instance.vizsgaID.vizsgaID }}</a></td>
                <td><a href="{{ instance.vizsgaID.kurzusKod.get_absolute_url }}">{{ instance.vizsgaID.kurzusKod }}</a></td>
                <td><a href="{{ instance.hallgatoAzonosito.get_absolute_url }}">{{ instance.hallgatoAzonosito.azonosito }}</a></td>
                <td> <a href="{{ instance.get_absolute_url }}">{{ instance.v }}</a> </td>
                <td>{{ instance.kapottjegy }}</td>
                <td> {{ instance.vizsgaalkalom }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="button" class="btn btn-primary btn-sm" id="kurzusfelvetele"><a href="../../kurzusok/create">Új vizsgaeredmény felvétele</a></button>
{% endblock %}