{% extends 'base_logged_in.html' %}

{% block content %}
    <table class="table">
        <thead>
            <th>Név</th>
            <th>Kapacitás</th>
        </thead>
        <tbody>
            {% for instance in object_list %}
            <tr>
                <td><a href="{{ instance.get_absolute_url }}"> {{ instance.cim }}</a></td>
                <td>{{ instance.kapacitas }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="button" class="btn btn-primary btn-sm" id="kurzusfelvetele"><a href="../../termek/create">Új terem felvétele</a></button>
{% endblock %}