{% extends 'base_logged_in.html' %}

{% block content %}
    <table class="table">
        <thead>
            <th>Kurzus kódja</th>
            <th>Kurzus neve</th>
            <th>Időpont</th>
            <th>Férőhely</th>
            <td></td>
        </thead>
        <tbody>
            {% for instance in object_list %}
            <tr>
                <td><a href="{{ instance.kurzusKod.get_absolute_url }}">{{ instance.kurzusKod.kurzuskod }}</a></td>
                <td> {{ instance.kurzusKod.kurzusnev }} </td>
                <td> <a href="{{ instance.get_absolute_url }}">{{ instance.idopont }}</a> </td>
                <td> {{ instance.ferohely }} </td>
                {% if not instance.vizsgaID in felvettkodok %}
                <td> <button type="button" class="btn btn-primary btn-sm" id="kurzusfelvetele"><a href="../../vizsgak/{{instance.vizsgaID}}/add">Felvétel</button> </td>
                {% else %}
                <td> <button type="button" class="btn btn-primary btn-sm" id="kurzusfelvetele" disabled>Felvéve</button> </td>
                {% endif %}    
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if role == "oktato" %}
    <button type="button" class="btn btn-primary btn-sm" id="kurzusfelvetele"><a href="../../vizsgak/create">Új vizsga felvétele</a></button>
    {% endif %}
{% endblock %}