{% extends 'base_logged_in.html' %}

{% block content %}
    <br><br><br>
    <table style="margin-left: 30px; size: 600px; font-size: 42px">
        <tr>
            <th>Kurzus Kódja</th>
            <th>Kurzus Neve</th>
            <th>Időpont</th>
            <th>Férőhely</th>

        </tr>

        <tr>
            <td>{{ obj.kurzusKod.kurzuskod }}</td>
            <td> {{ obj.kurzusKod.kurzusnev }} </td>
            <td> {{ obj.idopont }} </td>
            <td> {{ obj.ferohely }} </td>
        </tr>
    </table>

     <p style="font-size: 42px"> <a href="update/"> Szerkesztés</a>
       <a href="delete/">Törlés</a> </p>
{% endblock %}