{% extends 'base.html' %}

{% block content %}
    <a href="../../vizsgak/create"><h3>Új vizsga felvétele</h3></a>
    <table>
        <tr>
            <th>Kurzus Kódja</th>
            <th>Kurzus Neve</th>
            <th>Időpont</th>
            <th>Férőhely</th>
        </tr>
    {% for instance in object_list %}
            <tr>
                <td><a href="{{ instance.kurzusKod.get_absolute_url }}">{{ instance.kurzusKod.kurzuskod }}</a></td>
                <td> {{ instance.kurzusKod.kurzusnev }} </td>
                <td> <a href="{{ instance.get_absolute_url }}">{{ instance.idopont }}</a> </td>
                <td> {{ instance.ferohely }} </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}