{% extends "base_data_change.html" %}

<h1>REGISZTRÁLÁS!4!</h1>

{% block content %}

    <div class="login-section card-footer">
        <form method="POST", class="form-group">
            <h1 class="title">Felhasználói adatok változtatása</h1>
            {% csrf_token %}
            <div class="row jutify-content-center" id="login-card">
                {{ form }}
                <button type="submit" class="btn btn-primary login-button">Mentés</button>
                {% if user.is_authenticated %}
                <a href="{{ HTTP_HOST }}/me/">Beállítások - {{ user }}</a><br>
                {% if role == "admin" %}
                <a href="{{ HTTP_HOST }}/felhasznalok/">Felhasználó Lista</a><br>
                {% endif %}
                <a href="/logout/?next=/login/" class="temp-link text-muted">Kijelentkezés</a>
                {% else %}
                <a href="/login/?next=/admin/" class="temp-link text-muted">Bejelentkezés</a>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock content %}