{% extends "base_register.html" %}

<h1>REGISZTRÁLÁS!4!</h1>

{% block content %}

    <div class="login-section card-footer">
        <form method="POST", class="form-group">
            <h1 class="title">Regisztráció</h1>
            {% csrf_token %}
            <div class="row jutify-content-center" id="login-card">
                {{ form }}
                <button type="submit", class="btn btn-primary login-button">Regisztráció</button>
                {% if user.is_authenticated %}
                    ur logged in
                <a href="{{ HTTP_HOST }}/me/">{{ user }} - Settings</a><br>
                <a href="{{ HTTP_HOST }}/felhasznalok/">Felhasználó Lista - Csak EtrAdminoknak amúgy redirectel</a><br>
                <a href="/logout/?next=/login/" class="temp-link text-muted">Logout here</a>
                {% else %}
                <a href="/login/?next=/admin/" class="temp-link text-muted">Login here</a>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock content %}