<!doctype html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Better Neptun</title>
    </head>

<body>
{% if user.is_authenticated %}
    ur logged in
        <a href="{{ HTTP_HOST }}/me/">{{ user }} - Settings</a><br>
        <a href="{{ HTTP_HOST }}/felhasznalok/">Felhasználó Lista - Csak EtrAdminoknak amúgy redirectel</a><br>

    <a href="/logout/?next=/login/">Logout here</a>
    {% else %}
    <a href="/login/?next=/admin/">Login here</a>

{% endif %}

{%  block content %}
            replace me
        {% endblock %}

    </body>
</html>