<!doctype html>
{% load static %}
{% load bootstrap4 %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Better Neptun</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'etr/images/favicon.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'etr/css/style.css' %}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
          <div class="p-5 text-center bg-light" id="logo-container">
            {%  if  role  == "admin" %}
            <nav class="navbar navbar-expand-lg navbar-lg" id="navbar">
                <div class="collapse navbar-collapse" id="navbarNav">
                 <ul class="navbar-nav">
                  <li class="nav-item active">
                       <a class="nav-link" href="/register">Regisztráció</a>
                  </li>
                 </ul>
                </div>
            </nav>
            {% endif %}
            <div class="dropdown-show" id="first-column">
              <button class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menü
              </button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="{{ HTTP_HOST }}/kurzusok/">Kurzusok</a>
                <a class="dropdown-item" href="{{ HTTP_HOST }}/vizsgak/">Vizsgák</a>
                <a class="dropdown-item" href="{{ HTTP_HOST }}/termek/">Termek</a>
              </div>
            </div>
            <a href="/"><img src="{% static 'etr/images/neptun_logo.png' %}" id="logo_logged_in" alt="Logo"></a>
            <nav class="navbar navbar-expand-lg navbar-lg" id="navbar_logged_in">
              <div class="collapse navbar-collapse" id="navbarNav">
                <a class="nav-link-logout" href="/logout">Kijelentkezés</a>
              </div>
            </nav>
          </div>
        </header>
        <div class="card form-group custom-form" stlye="padding-top:15px">
            <div class="card-body">
                {%  block content %}
                    replace me
                {% endblock %}
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </body>
    <footer class="bg-light text-center text-lg-start">
      <div class="text-center p-3" id="copyright" style="background-color: rgba(12, 116, 242, 0.8);">
        © 2020 Copyright:
        <a class="text-dark" href="/">SZTE</a>
      </div>
    </footer>
</html>