{% extends 'base_logged_in.html' %}

{% block content %}
    <table class="table">
        <thead>
            <th>Infosheet</th>
            <td></td>
        </thead>
        <tbody>
            {% for instance in object_list %}
            <tr>
                <td>{{ instance.cim }}</td>
                <td>{{ instance.uzenet }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if role == "admin" %}
    <form method="post", class="form-group">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary login-button">Küldés</button>
    </form>
    {% endif %}
{% endblock %}