{% extends 'base_logged_in.html' %}

{% block content %}
    <table class="table">
        <thead>
            <th>Azonosító</th>
            <th>Vezetéknév</th>
            <th>Keresztnév</th>
            <th>Személyi szám</th>
            <th>Születési Idő</th>
            <th>Telefonszám</th>
            <th>Email</th>
            <th>Jelszó</th>
        </thead>
        <tbody>
            <tr>
            <td> {{ obj.azonosito }}</td>
                <td>{{ obj.vezeteknev }}</td>
                <td>{{ obj.keresztnevev }}</td>
                <td>{{ obj.szemelyiszam }} </td>
                <td>{{ obj.szulido }} </td>
                <td>{{ obj.telefonszam }}</td>
                <td>{{ obj.email }}</td>
                <td>{{ obj.jelszo }}</td>
        </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-primary btn-sm" id="kurzusfelvetele"><a href="/update">Szerkesztés</a></button>
    <button type="button" class="btn btn-primary btn-sm" id="kurzusfelvetele"><a href="/delete">Törlés</a></button>
{% endblock %}