{% extends 'base.html' %}

{% block content %}
    <br><br><br>
    <table style="margin-left: 30px; size: 600px; font-size: 42px">
        <tr>
            <th>Azonosító</th>
            <th>Vezetéknév</th>
            <th>Keresztnév</th>
            <th>Személyi szám</th>
            <th>Születési Idő</th>
            <th>Telefonszám</th>
            <th>Email</th>
            <th>Jelszó</th>
        </tr>

        <tr>
            <td> {{ obj.azonosito }}</td>
                <td>{{ obj.vezeteknev }}</td>
                <td>{{ obj.keresztnevev }}</td>
                <td>{{ obj.szemelyiszam }} </td>
                <td>{{ obj.szulido }} </td>
                <td>{{ obj.telefonszam }}</td>
                <td>{{ obj.email }}</td>
                <td>{{ obj.jelszo }}</td>
        </tr>
    </table>

     <p style="font-size: 42px"> <a href="../felhasznalok/{{ obj.azonosito }}/update/"> Szerkesztés</a>
       <a href="../felhasznalok/{{ obj.azonosito }}/delete/">Törlés - CSAK ADMINOKNAK, MAJD VKI A FRONTENDEN ELTÜNTETI LOL</a> </p>
{% endblock %}