{% extends 'base_logged_in.html' %}

{% block content %}
    {% if role == "hallgato" %}
    <H1>Felvett kurzusaim</H1>
    <table class="table">
        <thead>
            <th>Kurzus kódja</th>
            <th>Kurzus neve</th>
            <th>Kreditszám</th>
            <th>Terem száma</th>
            <th>Oktató azonosítója</th>
            <th>Teljesített</th>
        </thead>
        <tbody>
            {% for instance, teljesitette in felvettKurzusok %}
            <tr>
                <td><a href="{{ instance.get_absolute_url }}"> {{ instance.kurzuskod }}</a></td>
                <td> {{ instance.kurzusnev }}  </td>
                <td> {{ instance.kredit }}  </td>
                <td> <a href="{{ instance.teremCim.get_absolute_url }}">{{ instance.teremCim.cim }} </a> </td>
                <td> {{ instance.oktatoAzonosito.azonosito }}  </td>
                <td> {{ teljesitette }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endif %}




{% endblock %}