{% extends 'base_logged_in.html' %}

{% block content %}
    <table class="table">
        <thead>
            <th>Adatok</th>
            <td></td>
        </thead>
        <tbody>
            <tr>
                <th>Azonosító:</th>
                <td> {{ obj.azonosito }}</td>
            </tr>
            <tr>
                <th>Vezetéknév:</th>
                <td>{{ obj.vezeteknev }}</td>
            </tr>
            <tr>
                <th>Keresztnév:</th>
                <td>{{ obj.keresztnev }}</td>
            </tr>
            <tr>
                <th>Személyi szám:</th>
                <td>{{ obj.szemelyiszam }}</td>
            </tr>
            <tr>
                <th>Születési idő:</th>
                <td>{{ obj.szulido }}</td>
            </tr>
            <tr>
                <th>Telefonszám:</th>
                <td>{{ obj.telefonszam }}</td>
            </tr>
            <tr>
                <th>Email:</th>
                <td>{{ obj.email }}</td>
            </tr>

            <tr>
                <th>Éves Átlagok:</th>
                    <td>
                {% for kkiKey, kkiValue in kkiDict.items %}
                    <pre> {{ kkiKey }}: {{ kkiValue }}</pre>
                {% endfor %}
                    </td>
            </tr>
        </tbody>
    </table>
    <div class="buttons">
        <button type="button" class="btn btn-primary"><a href="../felhasznalok/{{ obj.azonosito }}/update/">Szerkesztés</a></button>
        {% if  role  == "admin" %}
        <button type="button" class="btn btn-primary"><a href="../felhasznalok/{{ obj.azonosito }}/delete/">Törlés</a></button>
        {% endif %}
    </div>
{% endblock %}