{% extends 'base.html' %}

{% block content %}
    <br><br><br>
    <table style="margin-left: 30px; size: 600px; font-size: 42px">
        <tr>
            <th>Hallgató Azonosítója</th>
            <th>Hallgató Neve</th>
            <th>Képzés Azonosítója</th>
        </tr>
        <tr>
            <td> <a href="{{ obj.hallgatoAzonosito.get_absolute_url }}">{{ obj.hallgatoAzonosito }} </a></td>
            <td>{{ obj.hallgatoAzonosito.vezeteknev }} {{ obj.hallgatoAzonosito.keresztnev }} </td>
            <td> <a href="{{ obj.kepzesId.get_absolute_url }}">{{ obj.kepzesId.kepzesid }}</a> </td>
        </tr>
    </table>

     <p style="font-size: 42px"> <a href="update/"> Szerkesztés</a>
       <a href="delete/">Törlés</a>
     <a href="../">Vissza</a>
     </p>
{% endblock %}