{% extends 'base.html' %}

{% block content %}
    <br><br><br>
    <table style="margin-left: 30px; size: 600px; font-size: 42px">
        <tr>
            <th>Kezdete</th>
            <th>Vége</th>
            <th>Kurzus Kódja</th>
            <th>Kurzus Terme</th>

        </tr>

        <tr>
            <td>{{ obj.kezdete }}</td>
            <td> {{ obj.vege }}  </td>
            <td> <a href="{{ obj.kurzusKod.get_absolute_url }}">{{ obj.kurzusKod.kurzuskod }}</a> </td>
            <td> <a href="{{ obj.kurzusKod.teremCim.get_absolute_url }}">{{ obj.kurzusKod.teremCim }}</a> </td>
        </tr>
    </table>

     <p style="font-size: 42px"> <a href="update/"> Szerkesztés</a>
       <a href="delete/">Törlés</a>
     <a href="../">Vissza</a>
     </p>
{% endblock %}