{% extends 'base.html' %}

{% block content %}
    <a href="../../befizetesek/create"><h3>Új Befizetés felvétele</h3></a>
    <table>
        <tr>
            <th>Hallgató Azonosítója</th>
            <th>Hallgató Neve</th>
            <th>Befizetés Összege</th>
        </tr>
    {% for instance in object_list %}
            <tr>
            <td><a href="{{ instance.hallgatoAzonosito.get_absolute_url }}">{{ instance.hallgatoAzonosito.azonosito }}</a></td>
            <td>{{ instance.hallgatoAzonosito.vezeteknev }} {{ instance.hallgatoAzonosito.keresztnev }}</td>
            <td> <a href ="{{ instance.get_absolute_url }}">{{ instance.befizetesosszeg }}</a></td>
            <td>  {{ instance.datum }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}