html{
    width: 100%;
    height: 100%;
    font-family: Verdana !important;
}

header{
    background-color: #469BD3 !important;
}

body{
    font-family: 'Nunito', sans-serif !important;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.title{
    text-align: center;
}

.card{
    font-weight: 700;
}


.temp-link{
    text-decoration: none;
}

.custom-form{
    position: absolute;
    width: 50%;
    left: 25%;
    margin: 25px;
    top: 10%;
}

.navbar-nav{
    padding-left: 15px;
}

.navbar-nav li a{
    color: white !important;
}

#id_username{
    border: 0;
    box-sizing: border-box;
    width: 100%;
}

#copyright{
    padding: 0.25rem !important;
}

#news{
    font-size: 12px;
    padding: 0.25rem !important;
}

#navbar{
    font-size: 20px !important;
    padding: 0;
    top: -40px;
}

#logo{
    position: relative;
    transform: scale(0.25);
    top: -150px;
}

#logo-container{
    height: 50px !important;
    background-color: #469BD3 !important;
    font-weight: 500 !important;
    padding-bottom: 15px !important;
}

#login-card button{
    position: relative;
    width: 50% !important;
    margin-top: 15px !important;
    left: 25% !important;
}