{% extends 'base_logged_in.html' %}

{% block content %}
    <br><br><br>
    <table style="margin-left: 30px; size: 600px; font-size: 42px">
        <tr>
            <th>Kurzus Kódja</th>
            <th>Kurzus Neve</th>
            <th>Kredit</th>
            <th>Terem Címe</th>
            <th>Oktató Azonosítója</th>

        </tr>

        <tr>
            <td>{{ obj.kurzuskod }}</td>
            <td> {{ obj.kurzusnev }}  </td>
            <td> {{ obj.kredit }}  </td>
            <td> <a href="{{ obj.teremCim.get_absolute_url }}">{{ obj.teremCim.cim }} </a>  </td>
            <td> <a href="{{ obj.oktatoAzonosito.get_absolute_url }}">{{ obj.oktatoAzonosito.azonosito }}</a>  </td>
        </tr>
    </table>

     <p style="font-size: 42px"> <a href="update/"> Szerkesztés</a>
       <a href="delete/">Törlés</a>
     <a href="../">Vissza</a>
     </p>
{% endblock %}